# macOS
.DS_Store
__MACOSX/

# IDE
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yaml

# PostgreSQL
db-data/
pgdata/
postgres-data/
pg_wal/
server-data/
data/

# Zabbix
alertscripts/
externalscripts/

# Certificates (если приватные)
certs/
*.key
*.crt
*.pem
*.p12
*.pfx

# Environment
.env
.env.*
!.env.example

# Python
venv/
.venv/
__pycache__/
*.py[cod]
